 <!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<% if(typeof(errors)!= "undefined"){%>
	<% for(x in errors){%>
	<br><span>ERRORS:<%=errors[x]%></span>
<%}}%>
</html>