 <!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<%- include("partials/header")%>
		<div>
			<h2>Items</h2>
			<div class="container">
				<input type="text" name="itemName" placeholder="Item Name" id="itemName">
				<button type="submit" class="btn btn-success">Add</button>
				<%console.log(items[0].name)%>
				<div id="itemArea">
				<%for(var i = 0; i<items.length; i++){%>
					<form>
					<div class="row">
					<div class="col"><%=items[i].name%></div>
					<div class="col"><button type="submit" class="btn btn-warning">Edit</button></div>
					<div class="col"><button type="submit" class="btn btn-danger">Delete</button></div>
					</div>
					</form>
				<%}%>
				</div>
			</div>
		</div>
	</body>
</html>

